[submodule "contrib/wx"]
	path = contrib/wx
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "contrib/SQLiteCpp"]
	path = contrib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
